*.log
*.json

upload/*
lib/*
node_modules/**

file.*
!file.pdf

# **/zipFiles/*
# library/**/*.zip
# library/**/*.rar
# blog/**/*.zip
# blog/**/*.rar
*.zip
*.rar

name[1sae].txt
.env*
!.env.examples

!.gitkeep
